<footer class="footer-contacto">
      <div class="container">
        <div class="row text-center text-md-start">
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <h5 class="mb-2 text-center text-md-start">Nuestras redes sociales</h5>
            <div class="d-flex justify-content-between justify-content-md-start gap-3 mx-4 social-icons ">
              <a href="#"><i class="bi bi-tiktok fs-4"></i></a>
              <a href="#"><i class="bi bi-whatsapp fs-4"></i></a>
              <a href="#"><i class="bi bi-instagram fs-4"></i></a>
            </div>
            <p class="text-center text-md-start">Conéctate con nosotros para no perderte ninguna novedad.</p>
          </div>

          <!-- Sección 2: Enlaces Útiles -->
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <h5>Enlaces Útiles</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="text-decoration-none">Inicio</a></li>
              <li><a target="_blank" rel="noopener noreferrer" href="/src/documents/DocumentoLegal.pdf" class="text-decoration-none">Términos y
                  condiciones</a></li>
              <li><a target="_blank" rel="noopener noreferrer" href="/src/documents/DocumentoLegal.pdf" class="text-decoration-none">Avisos
                  legales</a></li>
              <li><a href="#" class="text-decoration-none">Mision, Vision y Valores</a></li>
            </ul>
          </div>

          <!-- Sección 3: Contacto -->
          <address class="col-12 col-md-4">
            <h5>Contacto</h5>
            <p><a href="mailto:info@ejemplo.com" class="text-decoration-none">info@ejemplo.com</a></p>
            <p><a href="tel:+524567890" class="text-decoration-none">Tel: (52) 456-7890</a></p>
            <p class="mb-0">Dirección: Calle Ficticia 123, Guadalajara</p>
          </address>
        </div>

        <hr class="bg-light">
        <div class="text-center">
          <p class="mb-0">© 2025 Aurum Designers. Todos los derechos reservados.</p>

          <p>© 2025 Development by <a href="/src/pages/team/team.html" id="link-sprintasticos">Sprintásticos.</a> Todos
            los derechos
            reservados.
          </p>
        </div>
    </footer>